<!-- <div> {{ firstName }} </div>
<br />
<br />
<br />
<div> {{ lastName }} </div>

<div> {{ lastName}} {{ FirstName }} lastName FirstName </div> -->


<div> {{ 10 + 'Khilen' }} </div>

Array of Values
<div> {{ arr }} </div>

For Conditions
*ngIf 

For Looing
*ngFor

<!-- for (i=0; i<arr.length; i++) {
    arr[i]
} -->


<br /><br /><br />
Printing an Array with Index<br />
<div class="myClass" *ngFor="let a of arr; let i=index">
    {{ i }}
</div>

<br /><br /><br />
Printing Objects Value<br />
First Name = {{ obj.firstName }}
First Name = {{ obj.lastName }}
First Name = {{ obj.age }}
First Name = {{ obj.hobbies[0] }}

<br /><br /><br />
Printing Hobbies  in For<br />

<div *ngFor="let a of obj.hobbies">
    {{ a }}
</div>

<br />
<br />
<br />

Dealing with Nested Obj
<br />
{{ obj.skills.desc }}
{{ obj.skills.arr }}


<table border="1">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Years of Experience    
        </th>
    </tr>
    
    <tr *ngFor="let a of obj.skills.arr">
        <td> {{a.id}} </td>
        <td>{{a.name}}</td>
        <td>{{a.yearOfExp}}</td>
    </tr>
</table>

<!-- <div class="myarray" *ngFor="let a of obj.skills.arr">
    {{ a.id }} {{ a.name }}
</div> -->